<!DOCTYPE html>

<html lang="en-us" >
    <head>
        <title>Add world border | Django site admin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        <script type="text/javascript" src="/static/admin/js/actions.js"></script>
        <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
        <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
        <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
        <script type="text/javascript" src="http://openlayers.org/api/2.13/OpenLayers.js"></script>

        <meta name="robots" content="NONE,NOARCHIVE" />
    </head>


    <body class=" app-Ashbourn model-worldborder change-form"
          data-admin-utc-offset="0">

        <!-- Container -->
        <div id="container">

            <!-- Content -->
            <div id="content" class="colM">          
                <h1>Add geoFence</h1>
                <div id="content-main">

                    <form enctype="multipart/form-data" action="" method="post" id="worldborder_form" novalidate><input type='hidden' name='csrfmiddlewaretoken' value='kahnbPezU2GTYFP7opz5R661FDqR01WH' />
                        <div>
                            <fieldset class="module aligned ">
                                <div class="form-row field-name">
                                    
                                    <label class="required" for="id_name">Name:</label>
                                    
                                    <input class="vTextField" id="id_name" maxlength="50" name="name" type="text" />
                                    
                                </div>
                                <div class="form-row field-mpoly">
                                    <div>
                                        <label class="required" for="id_mpoly">Mpoly:</label>

                                        <style type="text/css">
                                         #id_mpoly_map { width: 600px; height: 400px; }
                                         #id_mpoly_map .aligned label { float:inherit; }
                                         #id_mpoly_admin_map { position: relative; vertical-align: top; float: left; }
                                         #id_mpoly { display: none; }
                                         .olControlEditingToolbar .olControlModifyFeatureItemActive {
                                             background-image: url("/static/admin/img/gis/move_vertex_on.svg");
                                             background-repeat: no-repeat;
                                         }
                                         .olControlEditingToolbar .olControlModifyFeatureItemInactive {
                                             background-image: url("/static/admin/img/gis/move_vertex_off.svg");
                                             background-repeat: no-repeat;
                                         }
                                        </style>
                                        <!--[if IE]>
                                            <style type="text/css">
                                            /* This fixes the mouse offset issues in IE. */
                                            #id_mpoly_admin_map { position: static; vertical-align: top; }
                                            /* `font-size: 0` fixes the 1px border between tiles, but borks LayerSwitcher.
                                            Thus, this is disabled until a better fix is found.
                                            #id_mpoly_map { width: 600px; height: 400px; font-size: 0; } */
                                            </style>
                                        <![endif]-->

                                        <span id="id_mpoly_admin_map">
                                            <script type="text/javascript">
                                             //<![CDATA[
                                             
                                             var Edmonton_LonLat = [-113.49566,53.52646];
                                             var position       = new OpenLayers.LonLat(Edmonton_LonLat[0],Edmonton_LonLat[1]);

                                             OpenLayers.Projection.addTransform("EPSG:4326", "EPSG:3857", OpenLayers.Layer.SphericalMercator.projectForward);
                                             var geodjango_mpoly = {};
                                             geodjango_mpoly.map = null; geodjango_mpoly.controls = null; geodjango_mpoly.panel = null; geodjango_mpoly.re = new RegExp("^SRID=\\d+;(.+)", "i"); geodjango_mpoly.layers = {};
                                             geodjango_mpoly.modifiable = true;
                                             geodjango_mpoly.wkt_f = new OpenLayers.Format.WKT();
                                             geodjango_mpoly.is_collection = true;
                                             geodjango_mpoly.collection_type = 'Polygon';
                                             geodjango_mpoly.is_generic = false;
                                             geodjango_mpoly.is_linestring = false;
                                             geodjango_mpoly.is_polygon = true;
                                             geodjango_mpoly.is_point = false;

                                             geodjango_mpoly.get_ewkt = function(feat){
                                                 return 'SRID=3857;' + geodjango_mpoly.wkt_f.write(feat);
                                             };
                                             geodjango_mpoly.read_wkt = function(wkt){
                                                 // OpenLayers cannot handle EWKT -- we make sure to strip it out.
                                                 // EWKT is only exposed to OL if there's a validation error in the admin.
                                                 var match = geodjango_mpoly.re.exec(wkt);
                                                 if (match){wkt = match[1];}
                                                 return geodjango_mpoly.wkt_f.read(wkt);
                                             };
                                             geodjango_mpoly.write_wkt = function(feat){
                                                 if (geodjango_mpoly.is_collection){ geodjango_mpoly.num_geom = feat.geometry.components.length;}
                                                 else { geodjango_mpoly.num_geom = 1;}
                                                 document.getElementById('id_mpoly').value = geodjango_mpoly.get_ewkt(feat);
                                             };
                                             geodjango_mpoly.add_wkt = function(event){
                                                 // This function will sync the contents of the `vector` layer with the
                                                 // WKT in the text field.
                                                 if (geodjango_mpoly.is_collection){
                                                     var feat = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.MultiPolygon());
                                                     for (var i = 0; i < geodjango_mpoly.layers.vector.features.length; i++){
                                                         feat.geometry.addComponents([geodjango_mpoly.layers.vector.features[i].geometry]);
                                                     }
                                                     geodjango_mpoly.write_wkt(feat);
                                                 } else {
                                                     // Make sure to remove any previously added features.
                                                     if (geodjango_mpoly.layers.vector.features.length > 1){
                                                         old_feats = [geodjango_mpoly.layers.vector.features[0]];
                                                         geodjango_mpoly.layers.vector.removeFeatures(old_feats);
                                                         geodjango_mpoly.layers.vector.destroyFeatures(old_feats);
                                                     }
                                                     geodjango_mpoly.write_wkt(event.feature);
                                                 }
                                             };
                                             geodjango_mpoly.modify_wkt = function(event){
                                                 if (geodjango_mpoly.is_collection){
                                                     if (geodjango_mpoly.is_point){
                                                         geodjango_mpoly.add_wkt(event);
                                                         return;
                                                     } else {
                                                         // When modifying the selected components are added to the
                                                         // vector layer so we only increment to the `num_geom` value.
                                                         var feat = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.MultiPolygon());
                                                         for (var i = 0; i < geodjango_mpoly.num_geom; i++){
                                                             feat.geometry.addComponents([geodjango_mpoly.layers.vector.features[i].geometry]);
                                                         }
                                                         geodjango_mpoly.write_wkt(feat);
                                                     }
                                                 } else {
                                                     geodjango_mpoly.write_wkt(event.feature);
                                                 }
                                             };
                                             // Function to clear vector features and purge wkt from div
                                             geodjango_mpoly.deleteFeatures = function(){
                                                 geodjango_mpoly.layers.vector.removeFeatures(geodjango_mpoly.layers.vector.features);
                                                 geodjango_mpoly.layers.vector.destroyFeatures();
                                             };
                                             
                                             geodjango_mpoly.clearFeatures = function (){
                                                 geodjango_mpoly.deleteFeatures();
                                                 document.getElementById('id_mpoly').value = '';
                                                 
                                                 geodjango_mpoly.map.setCenter(new OpenLayers.LonLat(position), 10);
                                                 
                                             };
                                             // Add Select control
                                             geodjango_mpoly.addSelectControl = function(){
                                                 var select = new OpenLayers.Control.SelectFeature(geodjango_mpoly.layers.vector, {'toggle' : true, 'clickout' : true});
                                                 geodjango_mpoly.map.addControl(select);
                                                 select.activate();
                                             };
                                             geodjango_mpoly.enableDrawing = function(){
                                                 geodjango_mpoly.map.getControlsByClass('OpenLayers.Control.DrawFeature')[0].activate();
                                             };
                                             geodjango_mpoly.enableEditing = function(){
                                                 geodjango_mpoly.map.getControlsByClass('OpenLayers.Control.ModifyFeature')[0].activate();
                                             };
                                             // Create an array of controls based on geometry type
                                             geodjango_mpoly.getControls = function(lyr){
                                                 geodjango_mpoly.panel = new OpenLayers.Control.Panel({'displayClass': 'olControlEditingToolbar'});
                                                 geodjango_mpoly.controls = [new OpenLayers.Control.Navigation()];
                                                 if (!geodjango_mpoly.modifiable && lyr.features.length) return;
                                                 if (geodjango_mpoly.is_linestring || geodjango_mpoly.is_generic){
                                                     geodjango_mpoly.controls.push(new OpenLayers.Control.DrawFeature(lyr, OpenLayers.Handler.Path, {'displayClass': 'olControlDrawFeaturePath'}));
                                                 }
                                                 if (geodjango_mpoly.is_polygon || geodjango_mpoly.is_generic){
                                                     geodjango_mpoly.controls.push(new OpenLayers.Control.DrawFeature(lyr, OpenLayers.Handler.Polygon, {'displayClass': 'olControlDrawFeaturePolygon'}));
                                                 }
                                                 if (geodjango_mpoly.is_point || geodjango_mpoly.is_generic){
                                                     geodjango_mpoly.controls.push(new OpenLayers.Control.DrawFeature(lyr, OpenLayers.Handler.Point, {'displayClass': 'olControlDrawFeaturePoint'}));
                                                 }
                                                 if (geodjango_mpoly.modifiable){
                                                     geodjango_mpoly.controls.push(new OpenLayers.Control.ModifyFeature(lyr, {'displayClass': 'olControlModifyFeature'}));
                                                 }
                                             };
                                             geodjango_mpoly.init = function(){
                                                 // The options hash, w/ zoom, resolution, and projection settings.
                                                 var options = {
                                                     'units' : "m",
                                                     'maxResolution' : 156543.0339,
                                                     'numZoomLevels' : 20,
                                                     'projection' : new OpenLayers.Projection("EPSG:3857"),
                                                     'maxExtent' : new OpenLayers.Bounds(-17037508,40000000,-5000000,12020000)
                                                 };
                                                 
                                                 var zoom = 10;
                                                 // The admin map for this geometry field.
                                                 
                                                 geodjango_mpoly.map = new OpenLayers.Map('id_mpoly_map', options);
                                                 // Base Layer
                                                 geodjango_mpoly.layers.base = new OpenLayers.Layer.OSM("OpenStreetMap (Mapnik)");
                                                 geodjango_mpoly.map.addLayer(geodjango_mpoly.layers.base);
                                                 geodjango_mpoly.map.setCenter(new OpenLayers.LonLat(position), 10);
                                                 
                                                 
                                                 
                                                 geodjango_mpoly.layers.vector = new OpenLayers.Layer.Vector(" mpoly");
                                                 geodjango_mpoly.map.addLayer(geodjango_mpoly.layers.vector);
                                                 // Read WKT from the text field.
                                                 var wkt = document.getElementById('id_mpoly').value;
                                                 if (wkt){
                                                     // After reading into geometry, immediately write back to
                                                     // WKT <textarea> as EWKT (so that SRID is included).
                                                     var admin_geom = geodjango_mpoly.read_wkt(wkt);
                                                     geodjango_mpoly.write_wkt(admin_geom);
                                                     if (geodjango_mpoly.is_collection){
                                                         // If geometry collection, add each component individually so they may be
                                                         // edited individually.
                                                         for (var i = 0; i < geodjango_mpoly.num_geom; i++){
                                                             geodjango_mpoly.layers.vector.addFeatures([new OpenLayers.Feature.Vector(admin_geom.geometry.components[i].clone())]);
                                                         }
                                                     } else {
                                                         geodjango_mpoly.layers.vector.addFeatures([admin_geom]);
                                                     }
                                                     // Zooming to the bounds.
                                                     geodjango_mpoly.map.zoomToExtent(admin_geom.geometry.getBounds());
                                                     if (geodjango_mpoly.is_point){
                                                         geodjango_mpoly.map.zoomTo(14);
                                                     }
                                                 } else {
                                                     geodjango_mpoly.map.setCenter(new OpenLayers.LonLat(position), 10);
                                                     //geodjango_mpoly.map.setCenter(new OpenLayers.LonLat(0, 0), 4);
                                                     
                                                 }
                                                 // This allows editing of the geographic fields -- the modified WKT is
                                                 // written back to the content field (as EWKT, so that the ORM will know
                                                 // to transform back to original SRID).
                                                 geodjango_mpoly.layers.vector.events.on({"featuremodified" : geodjango_mpoly.modify_wkt});
                                                 geodjango_mpoly.layers.vector.events.on({"featureadded" : geodjango_mpoly.add_wkt});
                                                 
                                                 // Map controls:
                                                 // Add geometry specific panel of toolbar controls
                                                 geodjango_mpoly.getControls(geodjango_mpoly.layers.vector);
                                                 geodjango_mpoly.panel.addControls(geodjango_mpoly.controls);
                                                 geodjango_mpoly.map.addControl(geodjango_mpoly.panel);
                                                 geodjango_mpoly.addSelectControl();
                                                 // Then add optional visual controls
                                                 geodjango_mpoly.map.addControl(new OpenLayers.Control.MousePosition());
                                                 geodjango_mpoly.map.addControl(new OpenLayers.Control.Scale());
                                                 geodjango_mpoly.map.addControl(new OpenLayers.Control.LayerSwitcher());
                                                 // Then add optional behavior controls
                                                 
                                                 
                                                 if (wkt){
                                                     if (geodjango_mpoly.modifiable){
                                                         geodjango_mpoly.enableEditing();
                                                     }
                                                 } else {
                                                     geodjango_mpoly.enableDrawing();
                                                 }
                                             };

                                             //]]>
                                            </script>
                                            <div id="id_mpoly_map"></div>

                                            <a href="javascript:geodjango_mpoly.clearFeatures()">Delete all Features</a>


                                            <textarea id="id_mpoly" class="vWKTField required" cols="150" rows="10" name="mpoly"></textarea>
                                            <script type="text/javascript">geodjango_mpoly.init();</script>
                                        </span> 
                                        
                                    </div>
                                    
                                </div>
                                
                            </fieldset>


                            <div class="submit-row">
                                <input type="submit" value="Save" class="default" name="_save" />


                                <input type="submit" value="Save and add another" name="_addanother" />
                                <input type="submit" value="Save and continue editing" name="_continue" />
                            </div>

                            <script type="text/javascript">
                             (function($) {
                                 $(document).ready(function() {
                                     $('.add-another').click(function(e) {
                                         e.preventDefault();
                                         var event = $.Event('django:add-another-related');
                                         $(this).trigger(event);
                                         if (!event.isDefaultPrevented()) {
                                             showAddAnotherPopup(this);
                                         }
                                     });

                                     
                                     $('form#worldborder_form :input:visible:enabled:first').focus()
                                         
                                 });
                             })(django.jQuery);
                            </script>

                            <script type="text/javascript">
                             (function($) {
                                 var field;

                             })(django.jQuery);
                            </script>
                        </div>
                </div>
                    </form>
            </div>

        </div>
        <!-- END Content -->
        </div>
        <!-- END Container -->
        </div>
    </body>
</html>
