<!DOCTYPE html>
<meta charset="utf-8">
<style>

 body {
     font: 1.1em sans-serif;
 }

 #calendar{
     width: 800px;
     margin: 30px ;
 }
 #calendar2{
     width: 800px;
     margin: 30px ;
 }
 .background {
     fill: #eee;
 }

 line {
     stroke: #fff;
 }

 text.active {
     fill: red;
 }

 .day {
     fill: #fff;
     stroke: #ccc;
 }

 .month {
     fill: none;
     stroke: #fff;
     stroke-width: 4px;
 }
 .year-title {
     font-size: 2em;
 }

 .input-color {
     position: relative;
 }
 .input-color input {
     padding-left: 20px;
 }
 .input-color .color-box {
     width: 10px;
     height: 10px;
     display: inline-block;
     background-color: #ccc;
     position: absolute;
     left: 5px;
     top: 5px;
 }
 table, th, td {
     border: 1px solid black;
 }

 /* color ranges */
 .RdYlGn .q0-4{fill:rgb(255,178,102)}
 .RdYlGn .q1-4{fill:rgb(204,102,0)}
 .RdYlGn .q2-4{fill:rgb(102,0,0)}
 .RdYlGn .q3-4{fill:rgb(51,25,0)}

 /* hover info */
 #tooltip {
     background-color: #fff;
     border: 2px solid #ccc;
     padding: 10px;
 }
</style>
<h2 style="text-align:center;" >{{title}}</h2>
<h5 style="text-align:left; padding-left:10px;">Activity Level Legend</h5>
<div class="input-color">
    <!-- -Legend boxes -->
    <input type="text" value="0-5 hours" />
    <div class="color-box" style="background-color: rgb(255,178,102);"></div>
</div><div class="input-color">
    <input type="text" value="6-12 hours" />
    <div class="color-box" style="background-color: rgb(204,102,0);"></div>
</div><div class="input-color">
    <input type="text" value="13 to 18 hours" />
    <div class="color-box" style="background-color: rgb(102,0,0);"></div>
</div><div class="input-color">
    <input type="text" value="19 to 24 hours" />
    <div class="color-box" style="background-color: rgb(51,25,0)"></div>
</div>

<!-- -movement and social calendars -->

<div id="calendar" style="margin-top:0px;"></div> 
<table class="table" id="summary">
    <thead class="thead-inverse">
        <tr>
            <th>Summary</th>
            <th>Date</th>
            <th>Percentage Spent out of House</th>
        </tr>
    </thead>
    <tbody>
        <th>Max Day</th>
        <td id="maxdate"></td>
        <td id="max"></td>
        </tr>
        <th>Min Day</th>
        <td id="mindate"></td>
        <td id="min"></td>
        </tr>
        
    </tbody>
</table>
    
<div id="calendar2" style="margin-top:0px;" ></div>
<table class="table" id="summary">
    <thead class="thead-inverse">
        <tr>
            <th>Summary</th>
            <th>Date</th>
            <th>Percentage Spent Socializing</th>
        </tr>
    </thead>
    <tbody>
        <td>Max Day</td>
        <td id="maxdate"></td>
        <td id="max"></td>
        </tr>
        <td>Min Day</td>
        <td id="mindate"></td>
        <td id="min"></td>
        </tr>
        
    </tbody>
</table>

    <script>
     $(document).ready(function (){
         calendarStrip("/movecdata/{{person.hash}}", "div#calendar", "Movement Calendar");
         calendarStrip("/socialcdata/{{person.hash}}", "div#calendar2", "Social Calendar");
     });

     function calendarStrip(csvdata, div_id, cal_title){
         var width = 1185,
             height = 450,
             cellSize = 23; // cell size

         var no_months_in_a_row = Math.floor(width / (cellSize * 7 +25));
         var shift_up = cellSize * 3;

         //var percent = d3.format(".1%"),
         //    format = d3.timeFormat("%Y-%m-%d");
          var day = d3.timeFormat("%w"), // day of the week
            day_of_month = d3.timeFormat("%e") // day of the month
            day_of_year = d3.timeFormat("%j")
            week = d3.timeFormat("%U"), // week number of the year
            month = d3.timeFormat("%m"), // month number
            year = d3.timeFormat("%Y"),
            percent = d3.format(".1%"),
            format = d3.timeFormat("%Y-%m-%d"); 

         var color = d3.scaleQuantize()
                       .domain([0.0, 1.0])
                       .range(d3.range(4).map(function(d) { return "q" + d + "-4"; }));

         var svg = d3.select(div_id).selectAll("svg")
                     .data(d3.range(2017, 2018))
                     .enter().append("svg")
                     .attr("width", width)
                     .attr("height", height)
                     .attr("class", "RdYlGn")
                     .append("g")

             var rect = svg.selectAll(".day")
                           .data(function(d) { 
                               return d3.timeDays(new Date(d, 0, 1), new Date(d + 1, 0, 1));
                           })
                           .enter().append("rect")
                           .attr("class", "day")
                           .attr("width", cellSize)
                           .attr("height", cellSize)
                           .attr("x", function(d) {
                               var month_padding = 1.2 * cellSize*7 * ((month(d)-1) % (no_months_in_a_row));
                               return day(d) * cellSize + month_padding; 
                           })
                           .attr("y", function(d) { 
                               var week_diff = week(d) - week(new Date(year(d), month(d)-1, 1) );
                               var row_level = Math.ceil(month(d) / (no_months_in_a_row));
                               return (week_diff*cellSize) + row_level*cellSize*8 - cellSize/2 - shift_up;
                           })
                           .datum(format);

         var month_titles = svg.selectAll(".month-title")  // Jan, Feb, Mar and the whatnot
                               .data(function(d) { 
                                   return d3.timeMonths(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
                               .enter().append("text")
                               .text(monthTitle)
                               .attr("x", function(d, i) {
                                   var month_padding = 1.2 * cellSize*7* ((month(d)-1) % (no_months_in_a_row));
                                   return month_padding;
                               })
                               .attr("y", function(d, i) {
                                   var week_diff = week(d) - week(new Date(year(d), month(d)-1, 1) );
                                   var row_level = Math.ceil(month(d) / (no_months_in_a_row));
                                   return (week_diff*cellSize) + row_level*cellSize*8 - cellSize - shift_up;
                               })
                               .attr("class", "month-title")
                               .attr("d", monthTitle);

         var year_titles = svg.selectAll(".year-title")  // Jan, Feb, Mar and the whatnot
                              .data(function(d) { 
                                  return d3.timeYears(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
                              .enter().append("text")
                              .text(yearTitle)
                              .attr("x", function(d, i) { return width/2 - 100; })
                              .attr("y", function(d, i) { return cellSize*5.5 - shift_up; })
                              .attr("class", "year-title")
                              .attr("d", yearTitle);


         //  Tooltip Object
         var tooltip = d3.select(div_id)
                         .append("div").attr("id", "tooltip")
                         .style("position", "absolute")
                         .style("z-index", "10")
                         .style("visibility", "hidden")
                         .text("a simple tooltip");

         d3.csv(csvdata, function(error, csv) {
             var data = d3.nest()
                          .key(function(d) { return d.Date; })
                          .rollup(function(d) { return (d[0].Time_Spent) / 86400; })
                          .map(csv);

             rect.filter(function(d) {   return data.has(d); })
                 .attr("class", function(d) { return "day " + color(data.get(d)); })
                 .select("title")
                 .text(function(d) { return d + ": " + percent(data.get(d)); });

             
             //  Tooltip
             rect.on("mouseover", mouseover);
             rect.on("mouseout", mouseout);
             function mouseover(d) {
                 tooltip.style("visibility", "visible");
                 var percent_data = (data.get(d) !== undefined) ? percent(data.get(d)) : "no data";
                 var purchase_text = d + ": " + percent_data;

                 tooltip.transition()        
                        .duration(200)      
                        .style("opacity", .9);      
                 tooltip.html(purchase_text)  
                        .style("left", (d3.event.pageX)+30 + "px")     
                        .style("top", (d3.event.pageY) + "px"); 
             }
             function mouseout (d) {
                 tooltip.transition()        
                        .duration(500)      
                        .style("opacity", 0); 
                 var $tooltip = $("#tooltip");
                 $tooltip.empty();
             }
             console.log(data);
             var maxKey = Object.keys(data).sort(function (a, b) {
                 return data[a] < data[b];
             })[0];
             var minKey = Object.keys(data).sort(function (a, b) {
                 return data[a] > data[b];
             })[0];

             $(div_id).next().find('td#maxdate').text(maxKey.replace('$',''));
             $(div_id).next().find('td#mindate').text(minKey.replace('$',''));
             $(div_id).next().find('td#min').text((data[minKey]*100).toFixed(1) + " %");
             $(div_id).next().find('td#max').text((data[maxKey]*100).toFixed(1) + " %");

         });

         function dayTitle (t0) {
             return t0.toString().split(" ")[2];
         }
         function monthTitle (t0) {
             return t0.toLocaleString("en-us", { month: "long" });
         }
         function yearTitle (t0) {
             var year = t0.toString().split(" ")[3];
             var title = cal_title + " for " + year;
             return title
         }
     }

    </script>
