<!DOCTYPE html>
<meta charset="utf-8">
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/js/jQAllRangeSliders-min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<link rel="stylesheet" href="/static/css/iThing.css" type="text/css" />
<style>

 .node {
     cursor: pointer;
 }

 .node:hover {
     stroke: #000;
     stroke-width: 1.5px;
 }

 .node--leaf {
     fill: white;
 }

 .label {
     font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
     text-anchor: middle;
     text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
 }

 .label,
 .node--root,
 .node--leaf {
     pointer-events: none;
 }

</style>
<h2 style="text-align:center;" >{{title}}</h2>
</br>
<div id="slider"></div></br>
<center><svg width="900" height="900"></svg></center>
<script>
 $(document).ready(function (){
     slider = $("#slider").dateRangeSlider({
         bounds:{
             min: new Date(2016, 12, 01, 0, 0, 0),
             max: new Date(2018, 01, 01, 0, 0, 0)
         },
         defaultValues:{
             min: new Date(2016, 12, 15, 0, 0, 0),
             max: new Date(2017, 01, 01, 0, 0, 0)
         },
         step:{
             days: 1
         },
         enabled: false
     });

     person = "{{person.name}}"
     socialCircles("/circledata/{{person.hash}}");
     
     $("#slider").bind("valuesChanged", function(e, data){       
         console.log(data.values.min, data.values.max);
         d3.select("svg").remove();

         //redo setup TODO this still isn't working!!
         svg = d3.select("svg"),
             margin = 20,
             diameter = +svg.attr("width"),
             g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

         color = d3.scaleLinear()
                       .domain([-1, 5])
                       .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
                       .interpolate(d3.interpolateHcl);

         pack = d3.pack()
                      .size([diameter - margin, diameter - margin])
                      .padding(2);

         savedata(globalData);        
     });

     
 });

 function sort_through_data(root, minDate, maxDate){
     minDate = moment(minDate).format("YYYY-MM-DD");
     maxDate = moment(maxDate).format("YYYY-MM-DD");
     
     var temp = { "name": person,
              "children": [{
                  "name": "Family",
                  "children": []
                  }, {
                  "name": "Friends",
                  "children": []
                  }, {
                  "name": "Health",
                  "children": [],
                  }, {
                  "name": "Negative",
                  "children": []
                  }
                  ]
     };
     $.each(root, function(key, p_list){ 
         p_list.forEach(function(pdict, i) {          
             $.each(pdict, function(pname, entries){
                 var total_time = 0;
                 $.each(entries, function(day, time){
                     if (day > minDate && day <= maxDate){
                         total_time += time;
                     }    
                 });
                 total_time = formatTime(parseInt(total_time));
                 size = 300;
                 if (total_time==''){
                     size = 50;
                     name = pname + ": NO time spent with ";
                 }
                 else { name = pname + " " + total_time;
                 }
                 var up_index = temp["children"].findIndex((obj => obj.name == key));
                 temp["children"][up_index]["children"].push({"name":name, "size":size});  
             });
         });
     });
     return temp;                          
 };

 function formatTime(seconds) {
     if (seconds==0) return '';
     var minutes = Math.floor((seconds%3600)/60);
     var hours = Math.floor(seconds/3600);
     if (minutes == NaN) return "unknown"
     var time_string = hours + " hours, " + minutes + " minutes";
     return time_string.toString();
 }


 function socialCircles(datapath){
     var svg = d3.select("svg"),
         margin = 20,
         diameter = +svg.attr("width"),
         g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

     var color = d3.scaleLinear()
                   .domain([-1, 5])
                   .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
                   .interpolate(d3.interpolateHcl);

     var pack = d3.pack()
                  .size([diameter - margin, diameter - margin])
                  .padding(2);

     savedata = function(gdata) {
         globalData = gdata;
         console.log("root", gdata);
         var minDate = $("#slider").dateRangeSlider("values").min;
         var maxDate = $("#slider").dateRangeSlider("values").max;

         var root = sort_through_data(gdata, minDate, maxDate);
         // call function to format and sift data properly for date range and stuff
         console.log("NEW ROOT", root);
         root = d3.hierarchy(root)
                  .sum(function(d) { return d.size; })
                  .sort(function(a, b) { return b.value - a.value; });

         var focus = root,
             nodes = pack(root).descendants(),
             view;

         var circle = g.selectAll("circle")
                       .data(nodes)
                       .enter().append("circle")
                       .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
                       .style("fill", function(d) { return d.children ? color(d.depth) : null; })
                       .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

         var text = g.selectAll("text")
                     .data(nodes)
                     .enter().append("text")
                     .attr("class", "label")
                     .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
                     .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
                     .text(function(d) { 
                         // TODO print amount of time spent here under the name
                         //console.log("data", d);
                         //console.log(d.data);
                         return d.data.name; });


         var node = g.selectAll("circle,text");

         svg
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

         zoomTo([root.x, root.y, root.r * 2 + margin]);

         function zoom(d) {
             var focus0 = focus; focus = d;

             var transition = d3.transition()
                                .duration(d3.event.altKey ? 7500 : 750)
                                .tween("zoom", function(d) {
                                    var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
                                    return function(t) { zoomTo(i(t)); };
                                });

             transition.selectAll("text")
                       .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
                       .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
                       .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
                       .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
         }

         function zoomTo(v) {
             var k = diameter / v[2]; view = v;
             node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
             circle.attr("r", function(d) { return d.r * k; });
         }

         $("#slider").dateRangeSlider("enable");
     }   
     d3.json(datapath, savedata);    
}

</script>
