
<p style="background-color: greenyellow;margin-left: 150px; margin-right: 150px" id="header">
    Showing results for Person: <b>{{ selectperson }}</b> at Location: <b> {{ location }}</b>,
    From: <b>{{ time_from }}</b> To: <b>{{ time_to }}</b>
</p>


<table class="table" id="listevent">
    <thead class="thead-inverse">
        <tr>
            <th>Time from</th>
            <th>Time until</th>
            {% if selectperson ==  "all" %} 
            <th>Person</th> 
            {% endif %}
            <th>Location</th>
            <th>Activity type</th>
            <th>description</th>
        </tr>
    </thead>
    <tbody>

    {% for activity in query_result %}
    
        <th>{{ activity.time }}</th>
        <th>{{ activity.time }}</th>
        {% if activity.person != selectperson %} <td>{{ activity.person }}</td> {% endif %}
        <td>{{ activity.location }}</td>
        <th>{% for cat in activity.location.category %} {{cat}}</br> {% endfor %}</th>
        <th>{{ activity.location.description }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>


