
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>


<script>
 
    var map; 
    // draws vector shapes on specified layer. data in wkt string format. example:
    // MULTIPOLYGON (((-12638268.5812490005046129 7081697.4326630001887679, -12637389.5554239992052317 7081582.7771206004545093)))
    function show_vectors(layer, data){    
        var wkt_f = new OpenLayers.Format.WKT(); 
        keys = Object.keys(data);
        for (var i = 0; i < keys.length; i++){
            var geom = wkt_f.read(data[keys[i]].feature);
            //geom.set('description', data[keys[i]] )
            layer.addFeatures([geom]);
        }
    }
 
    function init(){
        //var Edmonton_LonLat = [-113.49566,53.52646]; // in EPSG:4326 
        var Edmonton_LonLat = [-12636511, 7078908]; // in EPSG:3857
        var options = {
            'units' : "m",
            'maxResolution' : 156543.0339,
            'numZoomLevels' : 20,
            'projection' : new OpenLayers.Projection("EPSG:3857"),
            'maxExtent' : new OpenLayers.Bounds(-17037508,40000000,-5000000,12020000)
        };
        map = new OpenLayers.Map('map', options);
        
        //base layer
        var OSM_layer = new OpenLayers.Layer.OSM("OpenStreet Map");
        map.addLayer(OSM_layer);

        OpenLayers.Projection.addTransform("EPSG:4326", "EPSG:3857", OpenLayers.Layer.SphericalMercator.projectForward);         
        
        var position       = new OpenLayers.LonLat(Edmonton_LonLat[0],Edmonton_LonLat[1]);
        var zoom           = 14;
        
        // home polygon fences layer  
        var layer = new OpenLayers.Layer.Vector("Other locations");
        map.addLayer(layer);
        var data = {{locations|safe}}; // each location dict including wkt polygon
        show_vectors(layer, data);

        // journey from activities layer
        var s = new OpenLayers.Style({
            'pointRadius': 3, 'strokeColor':'green', 'fillColor':'green', 'fillOpacity': 0.4
        });
        var path_style = new OpenLayers.StyleMap(s);
        var point_vectors = new OpenLayers.Layer.Vector("Activities path", {styleMap: path_style});
        map.addLayer(point_vectors);
        var points = {{point_collection|safe}}; // each activity dict including wkt point
        show_vectors(point_vectors, points);
        
        // zoom center and add toggles
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.setCenter(position, zoom );        
    }

 
 $(document).ready(function () {
     init();

 }); 

</script>        
    <span class="mapview">
        <h2 style="text-align:center;" >{{title}}</h2>
        <style type="text/css">
         #map {
             width: 100%;
             height: 90%;
             margin: 10;
         }
        </style>
        <div id="map">
        </div>
        
    </span>
