

<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>


<script>
 
    // draws vector shapes on specified layer. data in wkt string format. example:
    // MULTIPOLYGON (((-12638268.5812490005046129 7081697.4326630001887679, -12637389.5554239992052317 7081582.7771206004545093)))
    function show_vectors(layer, data){ 
        var wkt_f = new OpenLayers.Format.WKT(); 
        //console.log("DATA: ", data)
        
        // iterate through each journey
        data.forEach(function(journey) {
            //console.log("Journey", journey);
            var pointList = [];
            // add each path for each journey separately
            //for (var place = 0; place < journey.length; place++){
            journey.forEach(function(place) {
                var shape_type = place.feature.substr(0, place.feature.indexOf(" "));
                //if (shape_type == 'MULTIPOLYGON'){
                    var geom = wkt_f.read(place.feature);
                    //console.log(geom);
                    label = place.name
                    
                    geom.attributes = {
                        'label': '',
                        'xOffset': 0,
                        'yOffset': -15,
                        'strokeWidth': 2,
                    };
                    //console.log(shape_type, geom);
                    layer.addFeatures([geom]);
                    layer.drawFeature(geom);
                    
                //}
                if (shape_type == 'MULTIPOLYGON') pointList = [];
                else if (shape_type == 'POINT'){  
                    
                    var coords = place.feature.replace(/[`~!@#$%^&*()_|+\=?;:'",<>\{\}\[\]\\\/]/gi, '').split(' ');
                    var path_pnt = new OpenLayers.Geometry.Point(coords[1], coords[2]);
                    //console.log("path point: ", path_pnt);
                    pointList.push(path_pnt);
                }
                //console.log("pointlist", pointList);
                //if at end of points or after two points
                if (pointList.length > 1) { // || i == data.length) {
                    line = new OpenLayers.Geometry.LineString(pointList);
                    var feature = new OpenLayers.Feature.Vector(line);
                    //console.log("FEATURE", feature);
                    feature.attributes = {
                        'label': '',
                        'dash': "solid",
                        'strokeWidth': 2,
                    };
                    last = pointList[1];
                    pointList = [];
                    pointList.push(last);
                    
                    layer.addFeatures([feature]);
                    layer.drawFeature(feature);
                }
            });
        });
    }
 
    function init(map){
        //var Edmonton_LonLat = [-113.49566,53.52646]; // in EPSG:4326 
        var Edmonton_LonLat = [-12635985, 7079780]; // in EPSG:3857
        
        //base layer
        var OSM_layer = new OpenLayers.Layer.OSM("OpenStreet Map");
        map.addLayer(OSM_layer);

        OpenLayers.Projection.addTransform("EPSG:4326", "EPSG:3857", OpenLayers.Layer.SphericalMercator.projectForward);         
        
        var position       = new OpenLayers.LonLat(Edmonton_LonLat[0],Edmonton_LonLat[1]);
        var zoom           = 16;
        
        // home polygon fences layer  
        var h = new OpenLayers.Style({
            'strokeColor':"orange",
            'fillColor':"orange", 
            'fillOpacity': 0.4, 
            'label': "${label}",
            'fontColor': "white",
            'fontSize': "12px",
            'fontFamily': "Courier New, monospace",
            'fontWeight': "bold",
            'labelAlign': "cm",
            'labelOutlineColor': "black",
            'labelOutlineWidth': 3,
            'labelXOffset': "${xOffset}",
            'labelYOffset': "${yOffset}"
        });
        var home_style = new OpenLayers.StyleMap(h);
        var other_locs = new OpenLayers.Layer.Vector("Other locations", {styleMap: home_style});    
        map.addLayer(other_locs);
        var data = {{known_locations|safe}}; // each location dict including wkt polygon
        show_vectors(other_locs, data);

        // journey from activities layer
        var s = new OpenLayers.Style({
            'strokeColor':"green",
            'pointRadius': 2,
            'strokeWidth': "${strokeWidth}",
            'fillColor':"green", 
            'fillOpacity': 0.4, 
            'label': "${label}",
            'fontColor': "white",
            'fontSize': "12px",
            'fontFamily': "Courier New, monospace",
            'fontWeight': "bold",
            'labelAlign': "cm",
            'strokeDashstyle': "${dash}",
            'labelOutlineColor': "black",
            'labelOutlineWidth': 3,
            'labelXOffset': "${xOffset}",
            'labelYOffset': "${yOffset}"
        });
        var path_style = new OpenLayers.StyleMap(s);
        var point_vectors = new OpenLayers.Layer.Vector("Activities path", {styleMap: path_style});
        console.log(point_vectors);
        map.addLayer(point_vectors);
        var points = {{point_collection|safe}}; // each activity dict including wkt features
        //console.log(points);
        show_vectors(point_vectors, points);
        
        // zoom center and add toggles
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        map.setCenter(position, zoom );        
    }

 
 $(document).ready(function () {
     var options = {
         'target': "map",
         'units' : "m",
         'maxResolution' : 156543.0339,
         'numZoomLevels' : 25,
         'projection' : new OpenLayers.Projection("EPSG:3857"),
         'maxExtent' : new OpenLayers.Bounds(-17037508,40000000,-5000000,12020000)
     };
     var map = new OpenLayers.Map('map', options); 

     init(map);

     // display popup on click
     map.events.register("click", map, function(e) {
         //console.log(e);
         var lonlat = map.getLonLatFromViewPortPx(e.xy);
         var toProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
         var fromProjection   = new OpenLayers.Projection("EPSG:3857"); // to Spherical Mercator Projection
         var alternate_position       = new OpenLayers.LonLat(lonlat.lon,lonlat.lat).transform( fromProjection, toProjection);

         alert("You clicked near " + lonlat.lon + " E, " +
             + lonlat.lat + " N" + " or: '" + 
               alternate_position.lon + "', '" + alternate_position.lat + "'");

         
        }); 


 }); 

</script>  
 
    <span class="mapview">
        <h2 style="text-align:center;" >{{title}}</h2>
        <style type="text/css">
         #map {
             width: 100%;
             height: 80%;
             margin: 10;
         }
        </style>
        <div id="map">
        </div>        
    </span>
    
    <div>
    {% include "filtered_activity_table.html" %}
    </div>
