<table class="table table-bordered" style="width: 1000px; margin-left: auto;margin-right: auto">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Watch ID</th>
            <th>Phone Number</th>
            <th>Relation</th>
            <th>Activity Visuals</th>
        </tr>
    </thead>
    {% for Person in query_result %}
    <tr class="person" data-id="{{ Person.hash }}">
        <th>{{ Person.name }}</th>
        <td>{{ Person.watch_id }}</td>
        <th>{{ Person.cell_number }}</th>
        <th class="relation-clicked" data-id="{{ Person.hash }}" style="width: 12%;"><center><button class="btn btn-default " >Relations</button></center></th>
        <th style="width: 30%;">{% if Person.watch_id %}
            <center>
                <button class="btn btn-default map" data-id="{{ Person.hash }}" >Map</button>
                    <button class="btn btn-default circles" data-id="{{ Person.hash }}" >Social Circles</button>
                {% if Person.home %}
                    <button class="btn btn-default calendar" data-id="{{ Person.hash }}">Calendar</button>
                {% endif %}

            {% endif %}
            </center>
        </th>
    </tr>
    {% endfor %}
</table>
<div class="relation-table" style="width: 500px; margin-left: auto;margin-right: auto">
</div>
