<table class="table table-bordered" style="width: 1000px; margin-left: auto;margin-right: auto">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Watch ID</th>
            <th>Tag ID</th>
            <th>Phone Number</th>
            <th>Relation</th>
        </tr>
    </thead>
    {% for Person in query_result %}
    <tr class="person" data-id="{{ Person.hash }}">
        <th>{{ Person.name }}</th>
        <td>{{ Person.watch_id }}</td>
        <th>{{ Person.tag_id }}</th>
        <th>{{ Person.cell_number }}</th>
        <th class="relation-clicked" data-id="{{ Person.hash }}"><button class="btn btn-default">Relations</button></th>
    </tr>
    {% endfor %}
</table>

