
<p style="background-color: greenyellow;margin-left: 300px; margin-right: 300px">
    Showing results for Person: <b>{{ selectperson }}</b> at Location: <b> {{ location }}</b>,
    From: <b>{{ time_from }}</b> To: <b>{{ time_to }}</b>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="row-socializing">Socializing</th>
            <th class="row-outdoor">Outdoor</th>
            <th class="row-entertainment">Entertainment</th>
            <th class="row-cooking">Cooking</th>
        </tr>
    </thead>
</table>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Time</th>
            <th>Person</th>
            <th>Location</th>
            <th>Activity type</th>
            <th>description</th>
        </tr>
    </thead>
    {% for activity in query_result %}
    <tr {% if activity.category == "cooking" or activity.category == "Cooking" %}

        class="row-cooking"
    {% endif %}
    {% if activity.category == "Entertainment" or activity.category == "entertainment" %}

        class="row-entertainment"
    {% endif %}
    {% if activity.category == "outdoor" or activity.category == "Outdoor" %}

        class="row-outdoor"
    {% endif %}
    {% if activity.category == "socializing" or activity.category == "Socializing" %}

        class="row-socializing"
    {% endif %}>
        <th>{{ activity.time }}</th>
        <td>{{ activity.person }}</td>
        <td>{{ activity.location }}</td>
        <th>{{ activity.activity_type }}</th>
        <th>{{ activity.activity_data }}</th>
    </tr>
    {% endfor %}
</table>


