.row-cooking{
    background-color: #2aabd2;
}

.row-entertainment{
    background-color: #4cae4c;
}

.row-socializing{
    background-color: orange;
}

.row-outdoor{
    background-color: #fbed50;
}
